[Desktop Entry]
Name=Dwarf Fortress Legacy
GenericName=Dwarf Fortress Legacy
Comment=A single-player fantasy game.
Exec=dwarfort
Icon=dwarffortress
StartupWMClass=dwarfort
Terminal=false
Type=Application
Categories=Game;Strategy;
